[Unit]
ConditionPathExists=/opt/boomi/flow/external-storage.jar
Description=Service for running the Boomi Flow External Storage service
After=network.target

[Service]
EnvironmentFile=/etc/default/external-storage
ExecStart=/usr/bin/java -Dserver.port=%i -jar /opt/boomi/flow/external-storage.jar
ExecStartPost=/bin/bash -c 'until [ "`/usr/bin/curl -s -o /dev/null -w '%{http_code}' localhost:%i/api/storage/1/health`" = "200" ]; do echo "Waiting for server to start" && sleep 1; done;'
MemoryHigh=30%
MemoryMax=40%
Restart=on-failure
RestartSec=5
SuccessExitStatus=143
TimeoutStopSec=10
Type=simple
User=nobody

[Install]
WantedBy=multi-user.target
